# =============================================================================
# DevMob .gitignore (https://github.com/JMVilomet/devmob)
# =============================================================================
/.env
/app
/.android
/.idea
